In [ ]:
import json
import random
import threading
from pathlib import Path
from tqdm import tqdm
from concurrent.futures import ThreadPoolExecutor, as_completed
from openai_access import openai_completion

paths = ["<anonymous>"]

data = []
for p in paths:
    with open(p, "r") as f:
        data += json.load(f)

print(len(data))
all_db_ids = list(set(dp["db_id"] for dp in data))
print(len(all_db_ids))

In [ ]:
print(len(all_db_ids))
train_db_ids = random.sample(all_db_ids, k=65)
eval_db_ids = list(set(all_db_ids) - set(train_db_ids))
print(len(train_db_ids), len(eval_db_ids))

dp_count_train = len([1 for dp in data if dp["db_id"] in train_db_ids])
dp_count_eval = len([1 for dp in data if dp["db_id"] in eval_db_ids])
print(dp_count_train, dp_count_eval)

In [3]:
COT_TEMPLATE_WO_HINT = """\
For a Text-to-SQL scenario, I will provide you:
- a database schema
- a user question
- two SQL queries: one correct and one incorrect, without indicating which is which.
- the execution result of the two SQL queries
Your task is to identify the correct SQL query.
Please carefully analyze the semantic alignment between the SQL queries and the user's question, and examine the differences between the SQL queries.
Requirements (in order of priority):
- (Priority) Judge based on how accurately the SQL answers the user's question
- If the SQL execution result is empty or None, then this SQL is likely to be incorrect.
- Using more tables and columns doesn't definitely make an SQL query correct - consider how well it matches the user's question
- We prefer SQL queries whose results can directly serve as the answer to the user's question
- If neither SQL is ideal, choose the better one that align with the user's question

Please analyze and provide output in this specific format:
1. Question Analysis
2. Semantic and logical observation of SQL 1 (at this stage, avoid discussing potential errors or making conclusions)
3. Semantic and logical observation of SQL 2 (at this stage, avoid discussing potential errors or making conclusions)
4. Analysis of differences between SQL 1 and SQL 2 (create a detailed Markdown table for comparison)
5. Judgement (concluding with either \\box{{SQL1}} or \\box{{SQL2}} as the result).

[Database Schema]
{schema}
[User question]
{question}
[SQL 1]
{sql1}
[SQL 1 Execution Result]
{sql1_result}
[SQL 2]
{sql2}
[SQL 2 Execution Result]
{sql2_result}
"""

COT_TEMPLATE_WITH_HINT = """\
For a Text-to-SQL scenario, I will provide you:
- a database schema
- a user question
- a important Hint
- two SQL queries: one correct and one incorrect, without indicating which is which.
- the execution result of the two SQL queries
Your task is to identify the correct SQL query.
Please carefully analyze the semantic alignment between the SQL queries and the user's question, and examine the differences between the SQL queries.
Requirements (in order of priority):
- (Priority) If a Hint specifies the solution approach or provides calculation logic, the SQL query that follows the Hint is more likely to be correct
- (Priority) Judge based on how accurately the SQL answers the user's question
- If the SQL execution result is empty or None, then this SQL is likely to be incorrect.
- Using more tables and columns doesn't definitely make an SQL query correct - consider how well it matches the user's question and Hint
- We prefer SQL queries whose results can directly serve as the answer to the user's question
- If neither SQL is ideal, choose the better one based on how well it matches the Hint and the user's question

Please analyze and provide output in this specific 5-step format:
1. Question Analysis
2. Semantic and logical observation of SQL 1 (at this stage, avoid discussing potential errors or making conclusions)
3. Semantic and logical observation of SQL 2 (at this stage, avoid discussing potential errors or making conclusions)
4. Analysis of differences between SQL 1 and SQL 2 (create a detailed Markdown table for comparison)
5. Judgement (concluding with either \\box{{SQL1}} or \\box{{SQL2}} as the result).

[Database Schema]
{schema}
[User question]
{question}
[Hint]
{hint}
[SQL 1]
{sql1}
[SQL 1 Execution Result]
{sql1_result}
[SQL 2]
{sql2}
[SQL 2 Execution Result]
{sql2_result}
"""


def generate_COT_prompt(datapoint: dict) -> str:
    schema = datapoint["schema"]
    question = datapoint["question"]
    hint = datapoint["evidence"]
    sql1 = datapoint["sql1"]
    sql1_result = datapoint["sql1_result"]
    sql2 = datapoint["sql2"]
    sql2_result = datapoint["sql2_result"]

    if len(hint.strip()) > 4:
        return COT_TEMPLATE_WITH_HINT.format(
            schema=schema,
            question=question,
            hint=hint,
            sql1=sql1,
            sql1_result=sql1_result,
            sql2=sql2,
            sql2_result=sql2_result,
        )
    else:
        return COT_TEMPLATE_WO_HINT.format(
            schema=schema,
            question=question,
            sql1=sql1,
            sql1_result=sql1_result,
            sql2=sql2,
            sql2_result=sql2_result,
        )

In [4]:
def reject_sample(datapoint):
    # Correct Pool
    all_correct_sqls = datapoint["correct_beam"] + datapoint["correct_sample"]
    all_correct_sqls.append({"q": datapoint["gold_query"], "r": datapoint["formatted_gold_results"]})

    # Wrong Pool
    all_wrong_sqls = datapoint["wrong_beam"] + datapoint["wrong_sample"]

    # Add some randomly wired SQLs
    all_wired_sqls = datapoint["wired_beam"] + datapoint["wired_sample"]
    wired_sample_num = min(len(all_wired_sqls), 3)
    wired_sample = random.sample(all_wired_sqls, wired_sample_num)
    all_wrong_sqls += wired_sample

    if len(all_wrong_sqls) == 0:
        return None

    for _ in range(3):
        # Randomly select a correct and wrong
        correct_sql = random.choice(all_correct_sqls)
        wrong_sql = random.choice(all_wrong_sqls)

        # Generate the prompt
        if random.random() < 0.5:
            info = {
                "schema": datapoint["augmented_schema"],
                "question": datapoint["question"],
                "evidence": datapoint["evidence"],
                "sql1": correct_sql["q"],
                "sql1_result": correct_sql["r"],
                "sql2": wrong_sql["q"],
                "sql2_result": wrong_sql["r"],
            }
            prompt = generate_COT_prompt(info)
            label = r"\box{SQL1}"
        else:
            info = {
                "schema": datapoint["augmented_schema"],
                "question": datapoint["question"],
                "evidence": datapoint["evidence"],
                "sql1": wrong_sql["q"],
                "sql1_result": wrong_sql["r"],
                "sql2": correct_sql["q"],
                "sql2_result": correct_sql["r"],
            }
            prompt = generate_COT_prompt(info)
            label = r"\box{SQL2}"

        response = openai_completion(prompt, model="gpt-4o")

        # Do Rejection Sampling
        if label in response:
            return {
                "db_id": datapoint["db_id"],
                "schema": datapoint["augmented_schema"],
                "question": datapoint["question"],
                "evidence": datapoint["evidence"],
                "gold_query": datapoint["gold_query"],
                "sql1": info["sql1"],
                "sql1_result": info["sql1_result"],
                "sql2": info["sql2"],
                "sql2_result": info["sql2_result"],
                "prompt": prompt,
                "response": response,
                "label": label,
            }

    return None

In [ ]:
all_cot_data = []
cot_data_lock = threading.Lock()

with ThreadPoolExecutor(max_workers=50) as executor:
    futures = [executor.submit(reject_sample, datapoint) for datapoint in data]
    for future in tqdm(as_completed(futures), total=len(futures)):
        cot_datum = future.result()
        if cot_datum:
            with cot_data_lock:
                all_cot_data.append(cot_datum)

with open("./cot_train_data.json", "w") as f:
    json.dump(all_cot_data, f, indent=2)

In [10]:
with open("./cot_train_data.json", "w") as f:
    json.dump(all_cot_data, f, indent=2)

In [11]:
count = 0
for dp in all_cot_data:
    if (r"\box{SQL1}" not in dp["response"]) and (r"\box{SQL2}" not in dp["response"]):
        count += 1
print(count)

0

In [8]:
d = all_cot_data[0]
print(d["prompt"])
print("=" * 100)
print(d["response"])

For a Text-to-SQL scenario, I will provide you:
- a database schema
- a user question
- a important Hint
- two SQL queries: one correct and one incorrect, without indicating which is which.
- the execution result of the two SQL queries
Your task is to identify the correct SQL query.
Please carefully analyze the semantic alignment between the SQL queries and the user's question, and examine the differences between the SQL queries.
Requirements (in order of priority):
- (Priority) If a Hint specifies the solution approach or provides calculation logic, the SQL query that follows the Hint is more likely to be correct
- (Priority) Judge based on how accurately the SQL answers the user's question
- If the SQL execution result is empty or None, then this SQL is likely to be incorrect.
- Using more tables and columns doesn't definitely make an SQL query correct - consider how well it matches the user's question and Hint
- We prefer SQL queries whose results can directly serve as the answer to the user's question
- If neither SQL is ideal, choose the better one based on how well it matches the Hint and the user's question

Please analyze and provide output in this specific 5-step format:
1. Question Analysis
2. Semantic and logical observation of SQL 1 (at this stage, avoid discussing potential errors or making conclusions)
3. Semantic and logical observation of SQL 2 (at this stage, avoid discussing potential errors or making conclusions)
4. Analysis of differences between SQL 1 and SQL 2 (create a detailed Markdown table for comparison)
5. Judgement (concluding with either \box{SQL1} or \box{SQL2} as the result).

[Database Schema]
-- Database name: hockey
-- Database schema:
Table Teams (
    "year" INT,
    "tmID" TEXT, -- team ID
    "name" TEXT, -- Full team name
    PRIMARY KEY ("year", "tmID")
);
/* Value examples for each column:
"year": 1909, 1910, 1911
"tmID": 'WIN', 'DET', 'PIT', 'COB'
"name": 'Montreal Canadiens', 'Boston Bruins', 'Toronto Maple Leafs', 'Cobalt Silver Kings'
 */
Table ScoringShootout (
    "year" INT,
    "tmID" TEXT, -- team ID(team abbreviated name)
    "S" INT, -- shots
    "GDG" INT, -- game deciding goals
    FOREIGN KEY ("year") REFERENCES Teams("year"),
    FOREIGN KEY ("tmID") REFERENCES Teams("tmID")
);
/* Value examples for each column:
"year": 2006, 2005, 2007
"tmID": 'DET', 'PIT', 'OTT', 'PHO'
"S": 1, 2, 5
"GDG": 1, 2
 */
Table TeamsSC (
    "year" INT,
    "tmID" TEXT, -- team ID
    "W" INT, -- wins
    "GF" INT, -- goals for
    "PIM" TEXT, -- penalty minutes
    PRIMARY KEY ("year", "tmID"),
    FOREIGN KEY ("year") REFERENCES Teams("year"),
    FOREIGN KEY ("tmID") REFERENCES Teams("tmID")
);
/* Value examples for each column:
"year": 1912, 1913, 1914
"tmID": 'QU1', 'MTL', 'MTM', 'VA1'
"W": 1, 2, 3
"GF": 12, 16, 13
"PIM": '24', '49', '53', '20', NULL
 */

[User question]
In the year that the Montreal Canadiens had 24 penalty minutes in the Stanley Cup finals, how many wins did the team had in total?
[Hint]
penalty minutes refer to PIM = 24; wins refer to W;
[SQL 1]
SELECT SUM(T2.W) FROM Teams AS T1 INNER JOIN TeamsSC AS T2 ON T1.tmID = T2.tmID AND T1.year = T2.year WHERE T1.name = 'Montreal Canadiens' AND T2.PIM = 24;
[SQL 1 Execution Result]
The execution result contains 1 rows.
(2,)
[SQL 2]
SELECT SUM(T1.W) FROM TeamsSC AS T1 INNER JOIN teams AS T2 ON T1.tmID = T2.tmID WHERE T2.name = 'Montreal Canadiens' AND T1.PIM = 24;
[SQL 2 Execution Result]
The execution result contains 1 rows.
(188,)

====================================================================================================
### 1. Question Analysis
The user is asking for the total number of wins (`W`) that the Montreal Canadiens had in the Stanley Cup finals during the year when their penalty minutes (`PIM`) were 24. The key points to focus on are:
- The team name is "Montreal Canadiens."
- The penalty minutes (`PIM`) must equal 24.
- The result should sum up the wins (`W`) for the specified year.

The Hint clarifies that:
- `PIM = 24` is the condition to filter the data.
- `W` represents the wins, which need to be summed.

### 2. Semantic and Logical Observation of SQL 1
- **Tables Used**: SQL 1 uses the `Teams` table (aliased as `T1`) and the `TeamsSC` table (aliased as `T2`).
- **Join Condition**: The query joins `Teams` and `TeamsSC` on both `tmID` and `year`, ensuring that the data corresponds to the same team and year.
- **Filters**:
  - `T1.name = 'Montreal Canadiens'` ensures the query focuses on the Montreal Canadiens.
  - `T2.PIM = 24` filters for the year when the penalty minutes were 24.
- **Aggregation**: The query uses `SUM(T2.W)` to calculate the total wins (`W`) for the filtered data.
- **Execution Result**: The result is `(2,)`, indicating that the total wins are 2.

### 3. Semantic and Logical Observation of SQL 2
- **Tables Used**: SQL 2 uses the `TeamsSC` table (aliased as `T1`) and the `Teams` table (aliased as `T2`).
- **Join Condition**: The query joins `TeamsSC` and `Teams` on `tmID`, but it does not include the `year` in the join condition.
- **Filters**:
  - `T2.name = 'Montreal Canadiens'` ensures the query focuses on the Montreal Canadiens.
  - `T1.PIM = 24` filters for the year when the penalty minutes were 24.
- **Aggregation**: The query uses `SUM(T1.W)` to calculate the total wins (`W`) for the filtered data.
- **Execution Result**: The result is `(188,)`, which seems unusually high and potentially incorrect.

### 4. Analysis of Differences Between SQL 1 and SQL 2

| **Aspect**                | **SQL 1**                                                                 | **SQL 2**                                                                 |
|---------------------------|---------------------------------------------------------------------------|---------------------------------------------------------------------------|
| **Tables Used**           | `Teams` (T1) and `TeamsSC` (T2)                                          | `TeamsSC` (T1) and `Teams` (T2)                                          |
| **Join Condition**        | Joins on both `tmID` and `year`                                          | Joins only on `tmID`                                                     |
| **Filters**               | Filters `T1.name = 'Montreal Canadiens'` and `T2.PIM = 24`               | Filters `T2.name = 'Montreal Canadiens'` and `T1.PIM = 24`               |
| **Aggregation**           | `SUM(T2.W)`                                                             | `SUM(T1.W)`                                                             |
| **Execution Result**      | `(2,)`                                                                   | `(188,)`                                                                 |
| **Alignment with Hint**   | Matches the Hint by summing `W` where `PIM = 24` and ensuring correct year | Partially matches the Hint but lacks the `year` condition in the join    |
| **Plausibility of Result**| Result (2) is plausible for wins in a single year                        | Result (188) is implausibly high for wins in a single year               |

### 5. Judgement
SQL 1 is the correct query because:
- It aligns with the Hint by summing the wins (`W`) for the year when `PIM = 24` and correctly filters for the Montreal Canadiens.
- It includes the `year` in the join condition, ensuring the data corresponds to the same year, which is critical for accuracy.
- The result `(2,)` is plausible, whereas the result `(188,)` from SQL 2 is not.

\box{SQL1}